<script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.responsive.min.js') }}"></script>

<script>
    $('#userList').DataTable({
        responsive: true,
        stateSave: true,
        serverSide: true,
        retrieve: true,
        paginate: true,
        searching: true,
        order: [
            0, 'desc'
        ],
        ajax: {
            url: "{{ path('user_list_data') }}",
            type: 'POST'
        },
        columns: [
            {
                "data": "id",
            },
            {
                "data": "firstName",
            },
            {
                "data": "lastName",
            },
            {
                "data": "email",
            },
            {
                "data": "phone",
            },
            {
                "data": "isEmailSubscribed",
                'render': function (data) {
                    let html = "";

                    if (data === 'Yes') {
                        html += '<span class="btn-success btn"> {{ 'Yes' }} </span>';
                    } else {
                        html += '<span class="btn-danger btn">{{ 'No' }} </span>';
                    }

                    return html;
                }
            },
            {
                "data": "isSmsSubscribed",
                'render': function (data) {
                    let html = "";

                    if (data === 'Yes') {
                        html += '<span class="btn-success btn"> {{ 'Yes' }} </span>';
                    } else {
                        html += '<span class="btn-danger btn">{{ 'No' }} </span>';
                    }

                    return html;
                }
            },
            {
                "data": "actions",
                "sortable": false,
                'render': function (data) {
                    let html = "";

                    if (data.edit) {
                        html += '<a class="btn-info btn btn-user" href=' + data.edit + '> <i class="fa-solid fa-pen"></i> {{ 'Edit' }} </a>';
                    }

                    if (data.remove) {
                        html += '<a class="btn-danger btn btn-user" href=' + data.remove + '> <i class="fa-solid fa-trash"></i> {{ 'Remove' }} </a>';
                    }

                    return html;
                }
            }
        ]
    });
</script>