{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'User Edit' }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
                <div class="card">
                    <div class="card-header">
                        <a class="btn-info btn" href='{{ path('user_list') }}'>
                            <i class="fa-solid fa-user"></i>
                            Back to list
                        </a>
                    </div>
                    <div class="card-body row">
                        {{ form_start(form) }}

                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.isEmailSubscribed) }}
                        {{ form_row(form.isSmsSubscribed) }}

                        <p>
                            {{ form_row(form.save) }}
                        </p>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}

{% endblock %}